boto3
bs4
executing
fastapi
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
json_repair
jsonpointer
langchain
langchain-aws
langchain-chroma
langchain-community
langchain-core
langchain-fireworks
langchain-google-genai
langchain-google-vertexai
langchain-openai
langchain-text-splitters
langchain-together
langchainhub
langdetect
langgraph
langgraph-checkpoint
langgraph-sdk
langsmith
openai
chromadb
pypdf
nbformat==5.10.4
