boto3==1.35.98
executing==2.1.0
fastapi==0.115.6
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.158.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
json_repair==0.35.0
jsonpointer==2.1
langchain==0.3.4
langchain-aws==0.2.2
langchain-core==0.3.12
langchain-fireworks==0.2.1
langchain-google-genai==2.0.1
langchain-openai==0.2.3
langchain-text-splitters==0.3.0
langchain-together==0.2.0
langchainhub==0.1.20
langdetect==1.0.9
langgraph==0.2.39
langgraph-checkpoint==2.0.1
langgraph-sdk==0.1.51
langsmith==0.1.147
openai==1.52.0

chromadb==0.5.23
pypdf==5.0.1